:root {
  --red: #ac4147;
  --white: #f6f4f1;
  --gray: #4e4f63;
  --marginLarge: 10vw;
  --primaryFont: 'Lato';
  --secondaryFont: 'Poppins';
  --accentFont: 'Antonio';
}

body {
  margin: 0;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--primaryFont);
  transition: 3000ms ease all;
}

/* NAVIGATION starts */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--white);
}

.route-links {
  margin-left: var(--marginLarge);
}

.route-link {
  text-decoration: none;
  padding: 18px 9px;
  background-color: transparent;
  border: unset;
  border-left: 1px solid var(--white);
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
}

.route-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.route-link:first-child {
  border: unset;
}

.contact-links-wrapper {
  position: relative;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 250px;
  margin-right: var(--marginLarge);
}

.contact-links > img {
  max-height: 20px;
  transition: transform 80ms ease-in;
  margin-right: 10px;
}

.contact-links > img:hover {
  transform: scale(1.5);
}

#contactLinksMobileTrigger {
  display: none;
}

/* HEADER starts */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--marginLarge);
  font-family: var(--secondaryFont);
  color: var(--white);
}

header h1 {
  font-size: 48px;
}

.header-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: var(--marginLarge);
  flex-wrap: wrap;
}

.header-link {
  border: 1px solid transparent;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  font-family: var(--secondaryFont);
}

.header-link:hover {
  border: 1px solid var(--white);
  background: unset;
}

.header-link.active {
  border: 1px solid var(--white);
  background: unset;
}

/* FORM starts */

.form-wrapper {
  max-width: 60vw;
  margin-left: var(--marginLarge);
}

.form-wrapper h3 {
  font-family: var(--accentFont);
  font-size: 28px;
}

.booking-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.booking-options-tab {
  padding: 5px;
  background-color: var(--gray);
  cursor: pointer;
  user-select: none;
  padding: 0 20px;
  color: var(--white);
  line-height: 48px;
  height: 48px;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
  margin-right: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.booking-options-tab[data-promotion] img {
  display: none;
}

.booking-options-tab.promotion::after {
  content: attr(data-promotion);
  margin-left: 5px;
  color: var(--white);
  background-color: #dc3545;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.booking-options-tab.promotion.active::after {
  background: var(--white);
  color: var(--red);
}

.tab-icon {
  max-height: 12px;
  margin-right: 5px;
}

form.search-form {
  background: var(--white);
  border-top: 4px solid var(--red);
  padding: 20px 40px 40px;
  max-width: 500px;
}

button[type='submit'] {
  background: var(--red);
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgb(0 0 0 / 15%);
  padding: 8px 22px;
  line-height: 24px;
  color: var(--white);
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  font-weight: bold;
}

button[type='submit']:disabled {
  opacity: 0.5;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group:first-child {
  margin-bottom: 16px;
}

.form-group:last-child {
  margin-top: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px 0;
  flex: 1;
  position: relative;
}
.form-input:nth-child(3) {
  flex-grow: 0;
}

.form-input > input {
  padding: 8px 14px;
  margin-top: 16px;
  border: 2px solid #ddd;
}

.toggle-buttons-wrapper {
  display: inline-flex;
}

.toggle-button {
  background: var(--white);
  margin: 0;
  padding: 5px;
  border: 1px solid var(--gray);
  min-width: 50px;
  width: 95px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: var(--gray);
}

.toggle-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.toggle-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.toggle-button.active {
  box-shadow: 0 0 0 2px rgb(225 83 97 / 50%);
  color: var(--white);
  border: 1px solid var(--red);
}

.active {
  background-color: var(--red);
}

label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
}

.advanced-search {
  font-style: italic;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--red);
  color: var(--red);
  font-family: serif;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  left: 4px;
  bottom: -16px;
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
  }
  .header-links-container {
    margin-right: unset;
  }
  form.search-form {
    min-width: 60vw;
  }
  .booking-options-tab-text {
    display: none;
  }

  .booking-options-tab.promotion::after {
    content: unset;
  }
  .booking-options-tab[data-promotion] img {
    display: initial;
  }
}

@media screen and (max-width: 600px) {
  #contactLinksMobileTrigger {
    display: block;
    margin-right: 10px;
  }
  .contact-links {
    position: absolute;
    display: none;
  }
  .contact-links.show-mobile {
    background: #00000085;
    position: absolute;
    right: 0;
    flex-direction: column;
    padding: 20px;
    border-radius: 3px;
    margin-right: 10px;
    display: block;
  }
}
